.but {
  margin-top: 10px;
  margin-left: 70px;
}
.linklogin {
  margin-left: 25px;
  color: lightslategray;
  font-size: 20px;
}
.linklogin:hover {
  text-decoration: none;
  color: black;
}
.form-login {
  font-size: 25px;
  font-family: "Lato", sans-serif;
}
.login{
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: "Prata", serif;

}
