.searchbar {
  background: rgba(135, 206, 235, 0.3);
  border-radius: 7px;
  padding: 1rem;
  font-family: "Lato", serif;
  font-weight: 500;
  text-transform: uppercase;
}
.button-search {
  width: 100%;
  position: absolute;
  bottom: 1rem;
}
.label-text {
  margin-bottom: 1rem;
  font-size: 20px;
}
