

.headerdashboard {
  background: rgba(135, 206, 235, 0.3);
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Prata", serif;
  text-align: center;
}

.headercontact {
  background: rgba(135, 206, 235, 0.8);
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Prata", serif;
}
.headerdreview {
  background: #87ceeb;
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Prata", serif;
}
.headerdr {
  background: #87cefa;
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Prata", serif;
}
.service {
  /* display: flex;
  flex-direction: column; */
  background-color: rgba(135, 206, 235, 0.3);
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
}
.form-control {
  width: 100% !important;
}

.pet {
  background: rgba(135, 206, 235, 0.3);
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Prata", serif;
  text-align:center;
}
.detailsContainer {
  background-color:rgba(135, 206, 235, 0.3);
}
