.section-signup {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,  rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8));
  }
  
  .signup {
    background-image: linear-gradient(260deg, 
                                    rgba(255,255,255, .9) 0%,
                                    rgba(255,255,255, .9) 50%,
                                    transparent 50%) ,
                            url(../../images/signup.webp);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .2);
    height: 50rem;
  }
    .signup__form {
      width: 150%;
      padding: 6rem;
  
  }
  
  .form-login p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
  }
  .btnlogin{
    text-transform: uppercase;
    text-decoration: none;
    padding:15px 40px;
    display: inline-block;
    background-color:rgba(126, 213, 111, 0.8);
    color:rgb(255,255,255);
    border-radius: 200px;
    font-weight: 500px;
   
  }
  .btnlogin:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
  }
  .btnlogin:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }
.linksignup,
.linksignup:visited{
 color: black;
}