html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-box {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  padding: 2rem;
  font-family: "Lato", serif;
  font-weight: 500;
}
.header {
  height: 95vh;
  background-image: 
    url(../../images//dog.jpeg);
  background-size: cover;
  background-position: top;
  
 /* clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    ),linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8)),*/

}
.heading-primary{
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}
.heading-primary-main{
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 10px;
  animation-name: moveInLeft;
  animation-duration:1s ;
  animation-timing-function: ease-out;
}
.heading-primary-sub{
display: block;
font-size: 20px;
font-weight: 700;
letter-spacing: 40px;
animation: moveInRight 1s ease-out;
}
.text-box{
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
  text-align: center;
}
@keyframes moveInLeft{
  0%{
      opacity: 0;
      transform: translateX(-100px);
  }
  80%{
     transform: translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);

  }
}
  @keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
       transform: translateX(-10px);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
  
    }
}

.btn:link,
.btn:visited{
  text-transform: uppercase;
  text-decoration: none;
  padding:15px 40px;
  display: inline-block;
  background-color: #fff;
  color: #777;
  border-radius: 100px;
  transition: all .2s;
}
.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.form{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  padding: 2rem;
  font-family: "Lato", serif;
  font-weight: 500;
}
.btn{
  text-decoration: none;
  padding:15px 40px;
  display: block;
  background-color:rgba(126, 213, 111, 0.8),;
  color:#fff;
  border-radius: 100px;
  transition: all .2s;
}